@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}
body {
    font-family: montserrat, open-sans, sans-serif;
    font-weight: 300;
    color: black;
}

/* Heading and logo */

header h1, h2 {
    font-family: montserrat, open-sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: darkblue;
}

#logo {
    float: left;
    font-size: 300%;
    
    margin-right: 10px;
}

/* Nav links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: darkblue;
}

#menu a:hover {
    border-bottom: 1px solid darkblue;
}

/* Hero image and cover txt */

#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url('../images/pexels-olia-danilevich-8964915.jpg') no-repeat center center;
    background-size: cover;
}

#cover-text {
    font-size: 120%;
    text-align: center;
    font-family: montserrat, open-sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 420px;
    height: 120px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(0, 0, 139, 0.7);
    top: 300px;
    left: 140px;
    position: absolute;
    border-radius: 50%;
}
#cover-text, #cover-text h2 {
    color: white;
}

/* Meditation section */

#meditation {
    height: 700px;
    background-color: darkblue;
    color: white;
}

#meditation h2 {
    font-size: 40px;
    color: white;
    padding-top: 20px;
    padding-left: 10px;
}

#med-text {
    padding-top: 40px;
    margin-left: 20px;
    width: 50%;
    float: left; 
    font-size: 30px;  
}

#med-vid {
    padding-top: 50px;
    width: 40%;
    float: right;
    
}

#med-vid video {
    float: right;
    padding-right: 20px;
    position: relative;
}

/* Breathwork section */

#breathwork {
    height: 700px;
    background-color: white;
    color: darkblue;
}

#breathwork h2 {
    font-size: 40px;
    color: darkblue;
    padding-top: 20px;
    padding-left: 10px;
}

#breath-text {
    padding-top: 40px;
    margin-left: 20px;
    width: 50%;
    float: left; 
    font-size: 30px;  
}

#breath-vid {
    padding-top: 50px;
    width: 40%;
    float: right;
    
}

#breath-vid video {
    float: right;
    padding-right: 20px;
    position: relative;
}

/* Calesthenics section */

#calesthenics {
    height: 700px;
    background-color: darkblue;
    color: white;
}

#calesthenics h2 {
    font-size: 40px;
    color: white;
    padding-top: 20px;
    padding-left: 10px;
}

#cal-text {
    padding-top: 40px;
    width: 50%;
    float: left; 
    margin-left: 20px;
    font-size: 30px;  
}

#cal-vid {
    padding-top: 50px;
    width: 40%;
    float: right;
    
}

#cal-vid video {
    float: right;
    padding-right: 20px;
    position: relative;
}

/* Email section */

#form {
    background-color: white;
    height: 400px;
    text-align: center;
}

#form h2 {
    padding-top: 40px;
}

#form div {
    color: darkblue;
    height: 40px;
    padding-top: 40px;
    width: 100%;
}

#fname {
    background-color: lightgray;
    outline: none;  
    height: 40px;
    width: 200px;
    font-size: 30px;
}

#lname {
    background-color: lightgray;
    outline: none;
    height: 40px;
    width: 200px;
    font-size: 30px;  
}

#email {
    background-color: lightgray;
    outline: none;
    height: 40px;
    width: 200px;
    font-size: 30px;  
}

#submit {
    height: 40px;
    width: 60px;
    color: white;
    margin-top: 20px;
    background-color: darkblue;
    border-radius: 50%;
    font-size: 15px;
}

#submit:hover {
    color: darkblue;
    background-color: orange;
    cursor: pointer;
}

/* Footer contact section */

footer {
    text-align: center;
    height: 200px;
    background-color: darkblue;
}
footer h2 {
    padding-top: 20px;
    color: white;
}

footer p {
    padding-top: 20px;
    color: white;
}


.socials {
    text-align: center;
}

.socials > li {
    display: inline;
}

i {
    margin-top: 20px;
    margin: 20px;
    font-size: 200%;
    color: white;
}